.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {        
        margin-bottom: 5px;
        padding: 5px 5px 5px 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        color: rgba(255, 255, 255, 0.26);

        &:hover {
            color: white;
            border-left: 1px solid white;
            padding-left: 15px;
            padding-right: 15px;
            //-webkit-box-shadow: inset 15px 0px 27px -25px rgba(255, 255, 255, 1);
            //-moz-box-shadow: inset 15px 0px 27px -25px rgba(255, 255, 255, 1);
            box-shadow: inset 8px 0px 7px -10px rgba(255, 255, 255, 1);

            .icon {
                filter: invert(100%);
                width: 20px;
            }            
        }

        a {
            color: inherit;
            display: flex;
            justify-content: space-between;            
            text-decoration: none;
            
            width: 100%;    
            
            &.active {
                color: white;
            }                     
        }        
    }
}

.icon {
    width: 0px;
    height: 20px;
    background-size: cover;    

    background-image: url("https://image.flaticon.com/icons/svg/74/74472.svg");
    transition: width .3s;
    filter: invert(30%);
}
